#jinja2:lstrip_blocks: True
#!/bin/bash

# This script is intended to run on a trusted management station to purge borg repo's in
# append-only mode.
# Don't put it on the backup server, it contains all borg secrets!

{% for h in groups['all'] %}
  {% if hostvars[h].borgbackup_required | default(True) -%}
  # Host: {{ h }}

    export BORG_PASSPHRASE={{ hostvars[h].borgbackup_passphrase }}

    {% if hostvars[h].borgbackup_management_station is defined and inventory_hostname == hostvars[h].borgbackup_management_station %}
    {% for b in hostvars[h].borgbackup_servers %}
    # {{ b.fqdn }}
{% if b.type == 'hetzner' %}
      REPOSITORY=ssh://{{ b.user }}@{{ b.fqdn }}:23/./{{ b.home }}{{ b.pool }}/{{ h }}
{% else %}
      REPOSITORY={{ b.user }}@{{ b.fqdn }}:{{ b.home }}{{ b.pool }}/{{ h }}
{% endif %}
      /usr/local/bin/borg prune -v $REPOSITORY {{ b.options }} -H {{ hostvars[h].borgbackup_retention.hourly }} -d {{ hostvars[h].borgbackup_retention.daily }} -w {{ hostvars[h].borgbackup_retention.weekly }} -m {{ hostvars[h].borgbackup_retention.monthly }} -y {{ hostvars[h].borgbackup_retention.yearly }}

  {% endfor %}
  {% endif %}
  {% endif %}
{% endfor %}
